<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicroService | Header Parser</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="header">
        <h1 class="title">Header Parser MicroService</h1>
        <p>GET your <b>IP adresse</b>, <b>Language your are using</b>, and <b>the Web client / Software</b> by clicking on the button below</p>
        <div class="input">
            <br>
            <button class="btn" id="btn">Who am I </button>
        </div>  
    </div> 

    <script src="/public/main.js"></script>
</body>
</html>